.navbar{
    color: white;
    background-image: url("../Image/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbar::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(19,30,43);
    background: linear-gradient(20deg, rgba(19,30,43,1) 0%, rgba(17,35,60,1) 26%, rgba(10,29,54,1) 72%, rgba(56,63,71,1) 100%); 
    opacity: 0.5;
    z-index: 0;
}
.navbar-desk{
    display: flex;
    width: 80%;
    margin: 0px auto;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navbar-desk ul{
    display: flex;
}
.navbar-desk ul a{
    margin: 0 2vw;
    font-size: var(--navbar-size);
    font-weight: 500;
}
.mobile-menu{
    position: fixed;
    top: 50px;
    right: 20px;
    display: none;
    z-index: 9999;
    cursor: pointer;
}

.navbar-mobile{
    z-index: 999;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    -webkit-animation: navbar-mobile 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: navbar-mobile 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes navbar-mobile {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes navbar-mobile {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

.navbar-mobile ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
    height: 500px;
}
.navbar-mobile img{
    position: fixed;
    top: 30px;
    left: 20px;
    width: 52px;
}


.hero{
    margin: 0 auto;
    width: 90%;
    display: flex;
    margin-top: 100px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
}
.hero .text{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 30%;
    justify-content: center;
    z-index: 1;
}
.hero .text h2{
    font-size: 48px;
    margin-bottom: 30px;
}
.hero .text h1{
    font-size: 64px;
    margin-bottom: 30px;
}
.hero .text button{
    min-height: 80px;
    height: 80px;
    width: 236px;
    color: white;
    border: none;
    font-size: 18px;
    background: rgb(27,52,80);
    background: linear-gradient(90deg, rgba(27,52,80,1) 0%, rgba(8,23,41,1) 100%);
    cursor: pointer;
    border-radius: 10px 0 10px 0;
    z-index: 2;
}
strong{
    color: #00EEBD;
}


.image-grid{
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    grid-template-rows: max-content;
    grid-gap: 20px;
}
.image-grid img{
    z-index: 1;
    width: 100%;
}
.cs{
    grid-column: 1;
    grid-row: 1;
}
.pubg{
    padding-top: 50px;
    grid-column: 2;
    grid-row: 1;
}
.fortnite{
    grid-column: 1;
    grid-row: 2;
}
.valorant{
    padding-top: 50px;
    grid-column: 2;
    grid-row: 2;
}
@media screen and (max-width: 950px) {
    .navbar i{
        display: block;
    }
    .navbar-mobile{
        display: block;
        background-color: #0a1f35fa;
    }
    .navbar-desk{
        display: none;
    }
    .hero{
        height: auto;
        align-items: center;
    }
    .image-grid{
        margin-top: 50px;
        width: 100%;
        grid-template-columns: 155px 155px;
    }
    .hero .text{
        width: 100%;
        margin-top: 50px;
    }
    .hero{
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .hero{
        height: auto;
        align-items: center;
        flex-direction: column;
    }
    .hero .text h1{
        font-size: 32px;
    }
    .hero .text h2{
        font-size: 24px;
    }
    .hero .text button{
        height: 50px;
        width: fit-content;
        padding: 10px;
    }
}