footer{
    color: white;
    width: 100%;
    background: linear-gradient(90deg, rgba(27,52,80,1) 0%, rgba(8,23,41,1) 100%);
    padding-top: 80px;
}
footer .info{
    width: fit-content;
    display: flex;
    margin: 0 auto;
    font-size: 20px;
}
footer ul li{
    margin: 0 20px;
}
footer input{
    width: 325px;
    height: 55px;
    background-color: transparent;
    border: solid white 1px;
    padding-left: 10px;
    color: white;
    font-size: 18px;
}
.foot_content{
    width: fit-content;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.foot_content h1{
    margin-bottom: 80px;
}
footer button{
    margin-left: 20px;
}
.foot_content .social{
    margin-left: 200px;
}
.foot_content .social ul{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.foot_content .social li{
    margin: 0;
}
@media screen and (max-width: 950px) {
    footer .info{
        width: 100%;
        flex-wrap: wrap;
    }
    footer ul li{
        margin: 20px;
    }
    .foot_content{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .foot_content .signup{
        width: 100%;
    }
    .foot_content .social{
        margin-top: 80px;
        width: 100%;
        margin: 100px 0 0 0;
    }
    .foot_content .social ul{
        width: 50%;
    }
    footer button{
        margin-left: 0px;
    }
}