.card{
    width: 300px;
    position: relative;
}
.card-image{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.name{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
}
.name i{
    color: rgb(146, 142, 142);
    transition: 1s;
}
.name i:hover{
    color: #1B4B66;
    transform: rotate(360deg);
    animation: shake 0.5s both;
}
.card .color{
  color: #626262;
}
.card .price{
  font-weight: 600;
}
@keyframes shake {
    0%,
    100% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-5px) rotate(-6deg);
    }
}

.color{
    margin-top: 8px;
    font-size: 14px;
}
.price{
    margin-top: 8px;
    font-size: 16px;
}
@media screen and (max-width: 880px) {
    .card{
        width: 138px;
        margin: 0px 5px;
    }
    .card-image{
        width: 138px;
        height: 138px;
        border-radius: 10px;
        margin: 0;
    }
}