@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300;8..60,400&display=swap');
/*
font-family: 'Source Serif 4', serif;

300 or 400
*/
@font-face{
    font-family: 'Agrandir Grand Heavy';
    src: url('../public/Police/Agrandir/Agrandir-GrandHeavy.otf') format('opentype');
}


*{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: unset;
}
.App{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.content{
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF8F7;
}

@media screen and (max-width : 1040px) {
    .App{
        align-items: center;
    }
    .content{
        padding-top: 70px;
        width: 100%;
    }
}