.resume{
    margin-top: 100px;
    width: 85%;
    background-color: #ffffff;
    border-radius: 15px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.resume h1{
    color: #ee541d;
    margin: 20px 50px;
}
.resume h2{
    margin: 20px 50px;
    font-size: 45px;
}
.resume h3{
    font-size: 30px;
    font-family: 'Agrandir Grand Heavy';
}
.resume-content{
    margin-top: 100px;
    display: flex;
}
.resume-content .sect{
    width: 50%;
}
.resume-content .education{
    margin-bottom: 30px;
}
.resume li{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.resume span {
    position: relative;
    margin-bottom: 8px;
    margin-right: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #ee541d;
    z-index: 0;
}

.resume span::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 12px;
    height: 12px;
    background-color: white; 
    border-radius: 50%; 
    top: 4px; 
    left: 4px; 
}
.resume span::before {
    content: '';
    position: absolute;
    z-index: 5;
    width: 6px;
    height: 6px;
    background-color: #ee541d; 
    border-radius: 50%; 
    top: 7px; 
    left: 7px; 
}
.skills li{
    margin-bottom: 20px;
}
.skills div{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills img{
    height: 50px;
}
.skills p{
    color: rgb(39, 39, 39);
    width: 50%;
    font-weight: bold;
    font-size: 22px;
}
.skills div div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.skills .react{
    height: 35px;
}
.skills h4{
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Agrandir Grand Heavy';
}
.card-educ{
    width: 90%;
    margin: 0 auto;
}
.card-educ div{
    margin-top: 40px;
    width: 100%;
    display: flex;
}
.card-educ ul{
    width: 50%;
}
.card-educ ul h4{
    font-family: 'Agrandir Grand Heavy';
    font-size: 14px;
}
.card-educ ul p{
    margin-top: 10px;
    color: rgb(49, 49, 49);
}
.card-educ div li{
    height: 30px;
    padding: 0 20px;
    border: solid 1px rgb(192, 192, 192);
    color: #ee541d;
    border-radius: 40px;
}
.resume .card-text{
    margin-top: 30px;
}

@media screen and (max-width : 810px) {
    .resume-content{
        flex-direction: column-reverse;
    }
    .resume-content .sect{
        margin: 0 5px;
        width: 100%;
    }
    .skills div{
        width: 100%;
    }
    .resume-content .education{
        margin-bottom: 30px;
    }
}