.contact{
    font-family: 'Source Serif 4', serif;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    align-items: center;
}
.contact img{
    height: 40px;
}
.contact li, .contact a{
    margin: 0 30px;
}
.contact button{
    cursor: pointer;
    font-family: 'Agrandir Grand Heavy';
    height: 40px;
    font-size: 12px;
    width: 180px;
    border-radius: 10px;
    border: none;
    background-color: #E54D2E;
    color: white;
    transition: 0.5s;
}
.contact button:hover{
    background-color: #771a07;
}

@media screen and (max-width : 1040px) {
    .contact{
        display: none;
    }
}